extends ../node_modules/pug-bootstrap/_bootstrap


append styles
  link(href="scripts/pug-bootstrap/css/navbar.css", rel="stylesheet")
  link(href="scripts/pug-bootstrap/css/signin.css", rel='stylesheet')
append scripts
  script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")

block body
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
              
            a(class="navbar-brand", href="#") Pavo TD
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href="home") Home
              li
                a(href="https://github.com/hartmanm/Pavo_TD") About
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | User 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='login') Login/Logout
                  li
                    a(href='#') Leaderboards
                  li.divider
                  li.dropdown-header New Users
                  li
                    a(href='createUser') Create User

  .container
    form.form-signin(method="post", action="/createUser")
      h2.form-signin-heading Create Pavo TD User
      if errors
        each error, i in errors
          p #{error.msg}
      label.sr-only(for='email') Email:
      input#email.form-control(type="email", placeholder="username@domain.com", name="email", required='', autofocus='')
      p
      label.sr-only(for='confirmEmail') Email:
      input#confirmEmail.form-control(type="email", placeholder="username@domain.com", name="confirmEmail", required='')
      p
      label.sr-only(for='password') Password:
      input#password.form-control(type="password", placeholder='password', name="password", required='')
      p
      label.sr-only(for='confirmPassword') Password:
      input#confirmPassword.form-control(type="password", placeholder='password', name="confirmPassword", required='')
      p
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Create User

    fieldset
      legend Current User List
      ul
        each user in userList
          li #{user.email}