block body
  h1 Level 3: Advanced
block scripts
  script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")
  script(src="game/levelThreeEngine.js")
  script(src="game/turret.js")
  script(src="game/bomber.js")
  script(src="game/ice.js")
  script(src="game/HealthBar.standalone.js")
