block body
  h1 Level 1: Beginner
block scripts
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")
  script(src="game/turret.js")
  script(src="game/bomber.js")
  script(src="game/ice.js")
  script(src="game/levelOneEngine.js")
  script(src="game/HealthBar.standalone.js")