extends ../node_modules/pug-bootstrap/_bootstrap


append styles
  link(href="scripts/pug-bootstrap/css/navbar.css", rel="stylesheet")
append scripts
  script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")

block body
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
              
            a(class="navbar-brand", href="#") Pavo TD
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href="home") Home
              li
                a(href="https://github.com/hartmanm/Pavo_TD") About
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | User 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='login') Login/Logout
                  li
                    a(href='#') Leaderboards
                  li.divider
                  li.dropdown-header New Users
                  li
                    a(href='createUser') Create User
              li
                a #{welcome}


  .container.marketing
        iframe(src="levelTwoGame" width='1024' height='1024' frameborder=0 scrolling='no')


